.initialContainer {
    background-image: url('../../../public/background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo svg {
    fill: var(--white);
    height: 150px;
    width: auto;
}

.title {
    font-size: 4rem;
    color: var(--white);
    font-weight: bold;
}

.textWelcome {
    color: var(--white);

    text-align: center;
    font-weight: bold;
    font-size: 2rem;

    margin: 20px 5px 40px;
}

.textDescription {
    color: var(--white);
    text-align: center;
    font-size: 1rem;

    max-width: 250px;

    margin: 10px auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
}

.button {
    background: transparent;
    border: 2px solid var(--white);
    border-radius: 20px;
    color: var(--white);
    width: 100%;
    max-width: 288px;
    max-width: 350px;
    font-size: 1.5rem;
    padding: 10px;
    margin: 20px auto;

    transition: all 0.5s;
}

.button:hover {
    background: var(--white);
    color: #8D337B;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    height: auto;
}

.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    height: auto;
}

.input {
    background: transparent;
    border: 0;
    font-size: 1rem;
    color: #fff;
    padding: 10px 10px 10px 0;
    border-bottom: 2px solid #fff;

    outline: none;
}

.inputLogin {
    background: transparent;
    border: 0;
    font-size: 1rem;
    color: #fff;
    padding: 10px 10px 10px 0;
    border-bottom: 2px solid #fff;

    margin-top: 30px;
    outline: none; 
}

.input::placeholder, .inputLogin::placeholder {
    color: var(--white);
}

.anchor {
    position: absolute;
    color: #fff;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ffff;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    padding: 12px;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}