.initialContainer {
    background-image: url('../../../public/background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo svg {
    fill: var(--white);
    height: 150px;
    width: auto;
}

.title {
    font-size: 4rem;
    color: var(--white);
    font-weight: bold;
}

.textWelcome {
    color: var(--white);

    text-align: center;
    font-weight: bold;
    font-size: 2rem;

    margin: 20px;
}

.textDescription {
    color: var(--white);
    text-align: center;
    font-size: 1rem;

    max-width: 250px;

    margin: 10px auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
}

.button {
    background: transparent;
    border: 2px solid var(--white);
    border-radius: 20px;
    color: var(--white);
    width: 80%;
    font-size: 1.5rem;
    padding: 10px;
    margin: 20px 0;
}